html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="style.css")
        script(src="https://cdn.jsdelivr.net/npm/p5@1.7.0/lib/p5.js")
        script(src="p5.sound.min.js")
        title Polar Chords
    body
        header 
            h1 Polar Chords
        main 
            .visualizer 
                canvas#canvas 
            .controls
                fieldset
                    legend audio                     
                    label(for="mute") Mute
                        input#mute(type="checkbox" name="mute")                    
                    label(for="music") Music
                        input#music(type="checkbox" name="music")   
                fieldset
                    legend Chord Shape 
                    label(for="shape") Shape
                        select#shape(name="shape")
                            option(value="circle") Circle
                            option(value="star") Star
                            option(value="polygon") Polygon 
                fieldset 
                    legend Chords 
                    label(for="root") Chord
                        select#root(name="root")
                            option(value="0") A
                            option(value="1") A#/Bb
                            option(value="2") B
                            option(value="3") C
                            option(value="4") C#/Db
                            option(value="5") D
                            option(value="6") D#/Eb
                            option(value="7") E
                            option(value="8") F
                            option(value="9") F#/Gb
                            option(value="10") G
                            option(value="11") G#/Ab
                        select#chord(name="chord")
                            option(value="maj") Maj
                        button Add
                    label 
                        textarea#progression(name="chords" cols="30" rows="10") 


        script(src="bundle.js")
